body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
    /*align-content: flex-start;*/
    align-items: stretch;
}

.header {
    /*flex: 1 100%;*/
    /*height: 100px;*/
}

.main {
    /*flex: 1 70%;*/
}

.aside {
    /*flex: 1 30%;*/
}

.header {
    background: tomato;
}

.footer {
    background: lightgreen;
    /*align-self: stretch;*/
    /*height: 400px;*/
    overflow-y: scroll;
    flex: 1 100%;
}

.main {
    background: deepskyblue;
}

.aside {
    background: gold;
}